@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    box-sizing: border-box;
    line-height: 1.3;
}


body {
    padding: 0;
    margin: 0;
}

h1{
    font-size: 35px;
}


/*======================================================TOPBAR======================================================*/

.topbar{
    background-color: #110f10;
    padding: 5px;
}

.topbar p{
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    font-family: 'Outfit', sans-serif;
}

/*======================================================GERAL======================================================*/

section{
    width: 100%;
    background: #ffffff;

}

.container{
    max-width: 1100px;
    margin: auto;
    padding: 20px 20px;
}

.sec1 h1{
    font-family: 'Outfit';
    font-weight: 800;
    color: #110f10;
    margin: 0;
}

.sec1 p{
    font-size: 22px;
    font-family: 'Outfit';
    font-weight: 400;
    color: inherit;
}

/*======================================================SEC2======================================================*/

.sec2{
    background: #f4f4f4
}

.sec2 .header{
    max-width: 1100px;
    margin: auto;
    text-align: center;
}

.sec2 h1{
    font-family: 'Outfit';
    font-weight: 800;
    color: #110f10;
    margin: 20px;
}

.sec2 p{
    font-size: 20px;
    font-family: 'Outfit';
    font-weight: 500;
    color: #110f10;
}

.sec2 .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.sec2 .container div{
    padding: 2px;
}

.provasocial .ps{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.provasocial {
    padding: 50px;
    margin: 30px 5px;
    background-color: #fff;
    border-radius: 5px;
}

.sec2 .provasocial div{
    padding: 20px;
}

.sec2 .provasocial .ps{
    padding: 20px 20px 0 20px;
}

.sec2 .provasocial .comment{
    padding: 0px 20px 20px 20px;
}

.sec2 .provasocial img{
    width: 60px;
    border-radius: 50px;
}

.sec2 .provasocial h2{
    font-family: 'Outfit';
    font-size: 20px;
    font-weight: 600;
}

.sec2 .provasocial p{
    font-family: 'Outfit';
    font-size: 17px;
    font-weight: 400;
    line-height: 1.4rem;
}

/*======================================================SEC3======================================================*/

.sec3 .modulos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 50px 0;
}

.sec3 .modulos .card{
    padding: 10px 15px;
    margin: 25px 10px;
    background-color: #007bff15;
    border-radius: 5px;
    border-color: #dddddd;
}

.modulos .card h2{
    background-color: #007bff
    ;
    color: #fff;
    padding: 10px;
    margin-top: -30px;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Outfit';
    text-align: center;
}

.sec3 .modulos .card2{
    padding: 10px 15px;
    margin: 25px 10px;
    background-color: #4caf4f15;
    border-radius: 5px;
    border-color: #dddddd;
}

.modulos .card2 h2{
    background-color: #4caf50
    ;
    color: #fff;
    padding: 10px;
    margin-top: -30px;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Outfit';
    text-align: center;
}

.sec3 .modulos .card3{
    padding: 10px 15px;
    margin: 25px 10px;
    background-color: #dc354615;
    border-radius: 5px;
    border-color: #dddddd;
}

.modulos .card3 h2{
    background-color: #dc3545

    ;
    color: #fff;
    padding: 10px;
    margin-top: -30px;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Outfit';
    text-align: center;
}

.modulos p{
    font-size: 20px;
    font-weight: 500 !important;
    line-height: 1.3rem;
    font-family: 'Outfit';
    text-align: center;
}

.sec3 h1{
    font-family: 'Outfit';
    font-weight: 800;
    color: #110f10;
    margin: 0;
    text-align: center;
}

.sec3 p{
    font-size: 22px;
    font-family: 'Outfit';
    font-weight: 400;
    color: inherit;
    text-align: center;
}


/*======================================================SEC4======================================================*/

.sec4{
    background: #f4f4f4
    
}

.sec4 .header{
    max-width: 1100px;
    margin: auto;
    text-align: center;
}

.sec4 h1{
    font-family: 'Outfit';
    font-weight: 800;
    color: #110f10;
    margin: 20px 0;
}

.sec4 h2 {
    font-size: 22px;
    font-family: 'Outfit';
    font-weight: 800;
    color: #4caf50;
    margin: 0px;
    background-color: #4caf5021;
    padding: 15px;
    border-radius: 5px;
}

.sec4 p{
    font-size: 18px;
    font-family: 'Outfit';
    font-weight: 500;
    color: #110f10d2;
    text-align: left;
}

.sec4 .esq h1{
    font-size: 25px;
    font-family: 'Outfit';
    font-weight: 600;
    color: #110f10;
    margin: 0;
    text-align: left;
}


.sec4 .esq h3{
    font-size: 25px;
    font-family: 'Outfit';
    font-weight: 500;
    color: #110f10;
    margin: 0;
    text-align: left;
}

.sec4 .bonus{
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bonus .esq{
    padding: 50px;
    border-radius: 5px 0 0 5px;
    background-color: #fff;
    display: grid;
    align-items: center;
}

.bonus .dir{
    padding: 50px;
    border-radius: 0 5px 5px 0;
    background-color: #fff;
    align-items: center;
    display: flex;
}


.sec4 .beneficios{
    padding: 0;
    font-size: 18px;
    font-family: 'Outfit';
    font-weight: 500;
}

.sec4 .material-icons {
    font-size: 28px;
    margin-right: 5px;
    color: #08A256;
}

.bonus .dir img{

    max-width: 450px;

}

/*======================================================SEC5======================================================*/

.sec5{
    background: #fff
}

.sec5 .header{
    max-width: 1100px;
    margin: auto;
    text-align: center;
}

.sec5 .depo{
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.sec5 h1{
    font-family: 'Outfit';
    font-weight: 800;
    color: #110f10;
    margin: 20px;
}

.sec5 h2 {
    font-size: 20px;
    font-family: 'Outfit';
    font-weight: 600;
    color: #d92738;
    background-color: #d9273921;
    border-radius: 30px;
    margin: 5px 20px;
    padding: 10px;
}

.sec5 p{
    font-size: 20px;
    font-family: 'Outfit';
    font-weight: 500;
    color: #110f10;
}

.depo .in{
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    background-color: #f3f3f3;
    border: solid 0px #e4e4e4;
}

/*======================================================SEC6======================================================*/

.sec6{
    background: #f4f4f4
}

.sec6 .header{
    max-width: 1100px;
    margin: auto;
    text-align: center;
}

.sec6 h1{
    font-family: 'Outfit';
    font-weight: 800;
    color: #110f10;
    margin: 20px;
}

.sec6 h2 {
    font-size: 22px;
    font-family: 'Outfit';
    font-weight: 800;
    color: #4caf50;
    margin: 0px;
    background-color: #4caf5021;
    padding: 15px;
    border-radius: 5px;
}

.sec6 p{
    font-size: 20px;
    font-family: 'Outfit';
    font-weight: 500;
    color: #110f10;
}

.sec6 .esq h3{
    font-size: 25px;
    font-family: 'Outfit';
    font-weight: 500;
    color: #110f10;
    margin: 0;
}

.sec6 .preco{
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#preco{
    font-size: 30px;
    font-family: 'Outfit';
    font-weight: 600;
    color: #4caf50;
    margin: 0px;
    background-color: #4caf4f00;
    padding: 0;
    border-radius: 0;
}

.preco .esq{
    padding: 50px;
    border-radius: 5px 0 0 5px;
    background-color: #fff;
    text-align: center;
}

.preco .dir{
    padding: 50px;
    border-radius: 0 5px 5px 0;
    background-color: #fff;
    align-items: center;
    display: flex;
}

.sec6 li{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    align-items: center;
    line-height: 2.5rem;

}

.sec6 .beneficios{
    padding: 0;
    font-size: 18px;
    font-family: 'Outfit';
    font-weight: 500;
}

.sec6 .material-icons {
    font-size: 28px;
    margin-right: 5px;
    color: #08A256;
}


/*======================================================SEC7======================================================*/

.sec7{
    background: #f4f4f4;
}

.sec7 h2{
    font-size: 22px;
    font-family: 'Outfit';
    font-weight: 800;
    color: #54411e;
}

.sec7 p{
    font-size: 20px;
    font-family: 'Outfit';
    font-weight: 400;
    color: #54411e;
}


.sec7 .bonus{
    max-width: 1100px;
    padding: 0 20px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    background-color: #edc1626c;
    border-radius: 5px
    ;
}

.bonus .ing{
    padding: 20px;
    background-color: #edc16200;
    margin: 20px;
    border-radius: 5px;
}

.bonus .ing h1{
    font-size: 20px;
    background-color: #4caf50;
    border-radius: 5px;
    color: #fff;
    padding: 8px;
    margin: 10px 130px;
    font-weight: 500;
}

.sec7 .ing img{
    max-width: 200px;
}


/*======================================================SEC8======================================================*/

.sec8{
    padding: 30px 0;
    background: #fff;
}

.sec8 .accordeon{
    max-width: 1100px;
    margin: auto;
}

.sec8 h1{
    font-family: 'Outfit';
    font-weight: 800;
    color: #110f10;
    margin: 20px;
    text-align: center;
}







/*======================================================RODAPÉ======================================================*/

.footer{
    background-color: #110f10;
    padding: 25px;
}

.footer h2{
    color: #fff;
    font-size: 14px;
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
}

.footer p{
    color: #ffffffb6;
    font-size: 12px;
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    line-height: 1.2rem;
}

.footer a{
    text-decoration: none;
    color: #ffffffb6;
    font-size: 14px;
    line-height: 1.4rem;
}

.footer .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1200px;
    margin: auto;
    padding: 0;
}

.footer div{
    padding: 0px;
}

.footer .textfooter{
    max-width: 1200px;
    margin: auto;
    text-align: center;
}



/*======================================================RESPONSIVO======================================================*/

@media screen  and (max-width: 768px){

    .sec2 .container {
        display: block;
    }

    .sec3 .modulos {
        display: block;
    }

    .sec3 .modulos .card {
        padding: 10px 50px;
        margin: 50px 60px;
    }
    .sec3 .modulos .card2 {
        padding: 10px 50px;
        margin: 50px 60px;
    }
    .sec3 .modulos .card3 {
        padding: 10px 50px;
        margin: 50px 60px;
    }

    .sec4 .bonus {
        display: block;
    }
    
    .sec5 .depo {
        display: block;
    }

    .depo .in {
        padding: 10px;
        margin: 40px;
    }

    .sec6 .preco {
        display: block;
    }

    .preco .esq {
        padding: 30px;
        border-radius: 5px 5px 0 0;
        background-color: #fff;
        text-align: center;
        margin: 30px 30px 0 30px;
    }

    .preco .dir {
        padding: 30px;
        border-radius: 0 0 5px 5px;
        margin: 0 30px 30px 30px;
        justify-content: center;
    }

    .sec7 .bonus {
        padding: 30px;
        margin: 0 30px;
        display: block;
        align-items: center;
        text-align: center;
    }

    .sec7 .bonus .ing {
        display: flex;
        justify-content: center ;
    }

    .sec7 .bonus .ing img{
        max-width: 130px;
    }

    .sec8 .accordeon {
        padding: 30px;
    }

}

@media screen  and (max-width: 480px) {

    h1{
        font-size: 28px;
    }

    .vsl h1{
        font-size: 25px;
        font-family: 'Outfit';
        font-weight: 800;
    }

    .footer .container{
        display: block;
        max-width: 1200px;
        margin: auto;
        padding: 0;
    }

    .sec3 .modulos .card {
        padding: 10px 50px;
        margin: 35px 20px;
    }

    .sec3 .modulos .card2 {
        padding: 10px 50px;
        margin: 35px 20px;
    }

    .sec3 .modulos .card3 {
        padding: 10px 50px;
        margin: 35px 20px;
    }

    .bonus .in h1 {
        margin: 10px 50px;
    }

    img {
        max-width: 250px;
    }

    .sec8{
        padding: 0px 0;
    }

    .bonus .dir img {
        max-width: 100%;
    }

    .bonus .esq {
        padding: 30px;
        border-radius: 5px 5px 0 0;
        background-color: #fff;
        display: grid;
        align-items: center;
        margin: 30px 30px 0 30px;
    }

    .bonus .dir {
        padding: 0 0 30px 0;
        border-radius: 0 0 5px 5px;
        background-color: #fff;
        display: grid;
        align-items: center;
        margin: 0 30px 30px 30px;
    }

    .sec4 h1 {
        margin: 20px 20px;
    }

}

/*======================================================BUTTON======================================================*/

.a-btn {
    text-decoration: none;
    margin: 0;
    border: 0;
    font-family: 'Outfit', sans-serif;
    vertical-align: baseline;
    color: #ffffff;
    outline: 0;
    line-height: 1;
    text-align: center;
    position: relative!important;
    display: inline-block!important;
    border-style: solid;
    width: 100%;
    padding-left: 0!important;
    padding-right: 0!important;
    margin-bottom: 10px;
    padding: 22px 44px;
    border-color: #ff5535;
    border-width: 0px;
    border-radius: 6px;
    background: linear-gradient(to bottom, #ff6600 0%, #ff5535 100%);
    box-shadow: 0px 1px 1px 0px rgb(0 0 0 / 50%);
    text-decoration: none!important;
}

.span-btn {
    text-align: center;
    margin: 0;
    border: 0;
    font: inherit;
    display: block;
    position: relative;
    z-index: 1;
    padding: 0 15px;
    white-space: normal;
    font-size: 25px;
    color: #ffffff;
    font-family: Oswald;
    font-weight: bold;
    text-shadow: #000000 0px 1px 0px;
    text-decoration: none;
}
.span-btn2 {
    text-align: center;
    padding: 0;
    border: 0;
    font-family: 'Oswald' sans-serif;
    display: block;
    position: relative;
    z-index: 1;
    font-size: 15px;
    color: #f5e051;
    font-family: 'Oswald' sans-serif;
    font-weight: 500;
    text-shadow: #000000 0px 1px 0px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
    border-style: none;
}

.mt-3, .my-3 {
    margin-top: 1rem!important;
}

.text-center {
    text-align: center!important;
}


