@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    box-sizing: border-box;
    line-height: 1.3;
}


body {
    padding: 0;
    margin: 0;
}

/*======================================================TOPBAR======================================================*/

.topbar{
    background-color: #110f10;
    padding: 5px;
}

.topobrigado{
    background-color: #4caf50;
    padding: 5px;
}

.thanks1 h2{
    color: #110f10;
    font-size: 22px;
    text-align: center;
    font-weight: 500;
    font-family: 'Outfit', sans-serif;
}

.topbar p{
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    font-family: 'Outfit', sans-serif;
}

.topobrigado h1{
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    font-family: 'Outfit', sans-serif;
}

/*======================================================VSL======================================================*/

section{
    width: 100%;
    background: #ffffff;

}

.container{
    max-width: 800px;
    margin: auto;
    padding: 0 20px;
}

.vsl {
    text-align: center;
}

.vsl h1{
    font-size: 35px;
    font-family: 'Outfit';
    font-weight: 800;
    color: #110f10;
    margin: 0;
}

.vsl p{
    font-size: 16px;
    font-family: 'Outfit';
    font-weight: 500;
    color: inherit;
}

/*======================================================RODAPÉ======================================================*/

.footer{
    background-color: #110f10;
    padding: 25px;
}

.footer h2{
    color: #fff;
    font-size: 14px;
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
}

.footer p{
    color: #ffffffb6;
    font-size: 12px;
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    line-height: 1.2rem;
}

.footer a{
    text-decoration: none;
    color: #ffffffb6;
    font-size: 14px;
    line-height: 1.4rem;
}

.footer .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1200px;
    margin: auto;
    padding: 0;
}

.footer div{
    padding: 0px;
}

.footer .textfooter{
    max-width: 1200px;
    margin: auto;
    text-align: center;
}



/*======================================================RESPONSIVO======================================================*/

@media screen  and (max-width: 480px) {
    .vsl h1{
        font-size: 25px;
        font-family: 'Outfit';
        font-weight: 800;
    }

    .footer .container{
        display: block;
        max-width: 1200px;
        margin: auto;
        padding: 0;
    }
}

/*======================================================COMMENTS======================================================*/

.answer {
    color: #444;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    display: block;
    padding-top: 10px;
    line-height: 20px;
    padding-left: 9px !important;
    border-left: 1px solid #E9EBEE;
    margin-left: 50px;
    padding-bottom: 0;
}

.classeNova {
    color: #444;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    font-family: Arial;
    background-color: #F6F7F9;
    font-size: 14px;
    padding-top: 20px;
}

.comments {
    background-color: #F6F7F9;
    padding: 20px;
}

.like {
    font-size: 11px;
    color: #90949c;
}

.comment {
    display: block;
    padding: 10px 0;
    line-height: 20px;
}

.span {
    color: #365899;
    font-weight: bold;
}

.paragrafo {
    color: #444;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    line-height: 1.5em;
    margin: 0;
    margin-left: 50px;
    margin-bottom: 0px;
}
.imgComment {
    width: 60px;
    height: 50px;
    float: left;
    padding-right: 10px;
}
img {
    vertical-align: middle;
    border-style: none;
}

/*======================================================BUTTON======================================================*/

.a-btn {
    text-decoration: none;
    margin: 0;
    border: 0;
    font-family: 'Outfit', sans-serif;
    vertical-align: baseline;
    color: #ffffff;
    outline: 0;
    line-height: 1;
    text-align: center;
    position: relative!important;
    display: inline-block!important;
    border-style: solid;
    width: 100%;
    padding-left: 0!important;
    padding-right: 0!important;
    margin-bottom: 10px;
    padding: 22px 44px;
    border-color: #ff5535;
    border-width: 0px;
    border-radius: 6px;
    background: linear-gradient(to bottom, #ff6600 0%, #ff5535 100%);
    box-shadow: 0px 1px 1px 0px rgb(0 0 0 / 50%);
    text-decoration: none!important;
}

.span-btn {
    text-align: center;
    margin: 0;
    border: 0;
    font: inherit;
    display: block;
    position: relative;
    z-index: 1;
    padding: 0 15px;
    white-space: normal;
    font-size: 25px;
    color: #ffffff;
    font-family: Oswald;
    font-weight: bold;
    text-shadow: #000000 0px 1px 0px;
    text-decoration: none;
}
.span-btn2 {
    text-align: center;
    padding: 0;
    border: 0;
    font-family: 'Oswald' sans-serif;
    display: block;
    position: relative;
    z-index: 1;
    font-size: 15px;
    color: #f5e051;
    font-family: 'Oswald' sans-serif;
    font-weight: 500;
    text-shadow: #000000 0px 1px 0px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
    border-style: none;
}

.mt-3, .my-3 {
    margin-top: 1rem!important;
}

.text-center {
    text-align: center!important;
}

.twenty1 {
    font-weight: 700;
    border-bottom: 1px solid #E9EBEE;
    display: block;
    padding-bottom: 6px;
}


